.slidertitle {
    margin-top: 100px;
}
.home-top-type {
    font-size: 48px;
    font-family: 'Bebas Neue';
    display: flex;
    align-items: center;
    gap: 8px;
    i {
        font-size: 28px;
        color: #FFC30D;
    }
}
.home-top-name {
    font-size: 64px;
    font-family: 'Bebas Neue';
}
.home-top-version {
    font-size: 36px;
    font-family: 'Bebas Neue';
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FFC30D;
    i {
        font-size: 20px;
        color: white;
    }
}
.home-top-desc {
    font-size: 16px;
    max-width: 550px;
}
.home-top-other {
    &-item {
        display: flex;
        gap: 8px;
        font-size: 24px;
        color: #FFC30D;
        font-family: 'Bebas Neue';
    }
    gap: 20px;
}