.navbar-item {
    position: relative;
    font-family: Poppins;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}
ul {
    gap: 40px;
}
.navbar-item:hover {
    color: rgb(222, 222, 222);
}
.navbar-item::before {
    content: '';
    position: absolute;
    visibility: hidden;
    left: 10px;
    top: 22.5px;
    width: 20px;
    height: 2.5px;
    background-color: #FFC30D;
    transition: .2s all;
    border-radius: 1.5px;
}
.navbar-item:hover::before {
    visibility: visible;
    left: 0;
}