.user-mini-active {
    font-family: Montserrat;
    font-size: 12px;
}
.user-photo {
    border-radius: 10px 30px 0 10px;
}

.icon {
    color: #FFC30D;
    font-size: 14px;
}

.user-name {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
}