.slider-img1 {
    background: radial-gradient(44.22% 57.61% at 56.6% 39.68%, rgba(21, 26, 32, 0) 0%, #151A20 100%), url("../../assets/images/home-top.jpg");
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.slider-img2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-position: right;
    background: radial-gradient(44.22% 57.61% at 56.6% 39.68%, rgba(21, 26, 32, 0) 0%, #151A20 100%), url("../../assets/images/home-top2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.wrapper-carousel {
    max-width: 1170px;
    margin: 0 auto;
}

.swiper {
    height: 100vh;
}